.App {
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 30px;
  padding: 15px 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  /*height: 10%;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 17px;
  color: white;
}

.App-header-content {
  width: 80%;
}

.error-container {
  padding: 15px 0;
  margin: 0;
  background-color: #f44336;
  color: white;
  width: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.App-main {
  background-color: white;
  width: 100%;
  /*height: 90%;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. Some of this code is based on the examples
* from the Google Support site. */
.map-container {
  background-color: white;
  height: 91vh;
  width: 80%;
}

/* Styles for the PlacesPanel*/
#floating-panel {
  color: black;
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: #fff;
  /*border-right: 1px solid #999;*/
  text-align: center;
  line-height: 30px;
  overflow: scroll;
}

.panel-filter-container {
  background-color: #ececec;
  padding-bottom: 1em;
}

.panel-title {
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  margin-block-end: 0;
}

#floating-panel p {
  font-size: .875rem;
  line-height: 1.35714;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-top: 1em;
}

.panel-select {
  font-size: inherit;
  background-color: white;
}

.panel-list-container {
  text-align: left;
  padding: 0px 20px 10px;
}

.panel-list {
  text-transform: uppercase;
  list-style-type: none;
  padding-inline-start: 0;
}

.attribution-container {
  /*padding: 0 40px;*/
}

.foursquare-logo {
  max-width: 100%;
}

/* Styles for the Place*/
.place {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}
.place:hover {
  cursor: pointer;
}

/* Styles for the infowindow*/
.contentHolder {
  display: flex;
  max-width: 400px;
}

.iconCol {
  width: 20%;
  padding: 10px;
}

.infoCol {
  width: 80%;
  text-align: left;
  padding: 10px;
}

.iconContainer {
  background-color: #ff9800;
  border-radius: 10px;
  width: 64px;
}

.venueName h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.venueName a:link {
  color: #3F51B5;
}

.venueName a:visited {
  color: #3F51B5;
}
