.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: pink;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. Some of this code is based on the examples
* from the Google Support site. */
#map {
  background-color: white;
  height: 100%;
}

/* Styles for the PlacesPanel*/
#floating-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

.panel-title {

}

.panel-list-container {
  text-align: left;
}

.panel-list {

}

/* Styles for the Place*/
.place {}
.place-title {}
.place-category {}
